<h2>
    Assignment 1
  </h2>
  
  <div>
    <h4>The following code is done by using Container/Presentational components to fulfill the requirements for user story 2 and singleton design for user story 1</h4>
    <h3>
      <label for="book-title">
        Search books by title
      </label>
    </h3>
    <p>
      API provided by OpenLibrary.
    </p>
    <input 
      #bookTitle 
      aria-label="Book Title" 
      id="book-title" 
      placeholder="Book Title" 
      type="text" 
    />
    <div>
      <!-- 
        When this button is clicked, it will call
        searchBookByTitle() in the assignment-one.component.ts 
        and pass it the value from the <input> above
      -->
      <button (click)="searchBookByTitle(bookTitle.value)" type="button">
        Search
      </button>
    </div>
  </div>
  
  <!-- 
    This part of the web page will only show
    when the `books$` variable has a value.
    Otherwise, it will display the `<ng-template>` below 
    with the template variable `#loading` on it.
  
    `*ngIf` is an Angular directive used to only show HTML
    if a certain condition is true. In this case, we only show 
    this section once the `books$` variable gets a value back from
    the API call we make to the OpenLibrary API.
  -->
  <ng-container *ngIf="(books$ | async) as books; else loading">
    <h3>
      Books
    </h3>
  
    <!--
      Uncomment the paragraph element below and search for a book 
      in order to see the full JSON data that comes back from the request
      we make to the OpenLibrary API.
    -->
    <!-- <p>
      {{ books | json }}
    </p> -->
  
    <ul>
      <!-- 
        This will loop over all the books$.docs 
        since it's an array. Every time it gets 
        a new value from the array, it will be put
        into the "book" variable. Then we can use book.key
        and book.title for each individual book in books$.docs .
      -->
      <li *ngFor="let book of books.docs">
        <a href="https://openlibrary.org{{ book.key }}" target="_blank">
          {{ book.title }}
        </a>
      </li>
    </ul>
  </ng-container>
  
  <ng-template #loading>
    <p *ngIf="areResultsLoading">
      Loading results...
    </p>
  </ng-template>
  