<h2>
  Week 13
</h2>

<h3>
  Frog Registration
</h3>

<img src="https://th.bing.com/th/id/R.95aeed0063ff51c5f4f6ee7aeff2d77d?rik=BH13vhGJDU4m1Q&riu=http%3a%2f%2ffarm3.staticflickr.com%2f2467%2f3535177486_5617c85bc7_o.jpg&ehk=zUANwnMUqE%2fd%2bS9klL39binGYmlDmHyOOdmhNdlXAuc%3d&risl=&pid=ImgRaw&r=0" />

<div class="field">
  <p class="label">
    Name
  </p>
  <input type="text" />
</div>

<div class="field">
  <h4>
    Favourite Food
  </h4>
  <div class="fave-food-options">
    <label>
      <input type="radio" name="fave-food">
      Flies
    </label>
    <label>
      <input type="radio" name="fave-food">
      Crickets
    </label>
    <label>
      <input type="radio" name="fave-food">
      Spiders
    </label>
  </div>
</div>

<button type="button">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.downloadclipart.net%2Flarge%2F18461-red-submit-button-design.png&f=1&nofb=1" />
</button>
