<div class="wrapper">
  <nav>
    <h2>
      Material
    </h2>
  
    <ul>
      <li>
        <a routerLink="/">
          Latest
        </a>
      </li>
      <li>
        <a routerLink="/lab-one">
          Lab 1
        </a>
      </li>
      <li *ngFor='let week of weeks'>
        <a routerLink='/{{ week.url }}'>
          {{ week.name }}
        </a>
      </li>
    </ul>
  </nav>
  <main>
    <h1>
      DESN3037
      <span>
        Front-End Application Architecture
      </span>
    </h1>

    <router-outlet></router-outlet>
  </main>
</div>