<h2>
  Assignment 1
</h2>

<ng-container *ngIf="hasSearchBooks$ | async as hasSearchBooks; else notSearch">
  <h1>{{ hasSearchBooks ? 'SEARCHED' : ''}}</h1>
</ng-container>
<ng-template #notSearch>
  <h1>NOT YET :P</h1>
</ng-template>

<div>
  <h3>
    <label for="book-title">
      Search books by title
    </label>
  </h3>
  <p>
    API provided by OpenLibrary.
  </p>
  <input
    #bookTitle
    aria-label="Book Title"
    id="book-title"
    placeholder="Book Title"
    type="text"
  />
  <div>
    <!--
      When this button is clicked, it will call
      searchBookByTitle() in the assignment-one.component.ts
      and pass it the value from the <input> above
    -->
    <button (click)="searchBookByTitle(bookTitle.value)" type="button">
      Search
    </button>
  </div>
</div>
<search-result></search-result>
