@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    margin: 1rem;
  }
  
  form {
    border: 2px dashed #222;
    margin: 0 auto;
    max-width: 500px;
    padding: 2rem;
  }
  
  .form-group {
    margin-bottom: 2rem;
    
    label {
      margin-bottom: .5rem;
    }
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 4rem;
    align-items: center;
  }
  
  .resources {
    margin-top: 4rem;
    
    a {
      display: block;
      padding: .25rem 0 
    }
  }

   .sendbutton{
       display: flex;
       justify-content: center;
       align-items: center;

   }


   .information{
       display: flex;
       justify-content: space-around;
   }