<form>
    <div class="form-group">
        <h1>This Is Our Second Lab</h1>
        <div class="information">
            <div class="form-check ">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  Student
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  Professor
                </label>
              </div>
        </div>
        <label for="numberofclassmates">Enter the number of classmates we have</label>
        <select class="form-control" id="numberofclassmates">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>
    <div class="form-group">
        <label for="satisfaction">Scale from 1 to 5, enter your satisfaction of this course</label>
        <select id="satisfaction" class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>
    <div class="form-group">
        <label for="suggestion">Enter your suggestion to improve the course</label>
        <textarea class="form-control" id="suggestion" rows="6"></textarea>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
             Want to be Anonymous?
        </label>
    </div>
    <div class="sendbutton">
        <button type="button" class="btn btn-primary btn-lg btn-block">Send</button>
    </div>

  </form>